<a href="https://colab.research.google.com/github/CakeNuthep/Create_Knowledge_Graph/blob/main/adct_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

# Convert String to JSON

In [3]:
path_file = '/content/drive/MyDrive/KnowledgeGraph/adct.json'

In [4]:
f = open(path_file,"r",encoding='utf8')

In [5]:
f = open(path_file, "r",encoding="utf8")
count = 0
content = []
string_json = ''
begin = '['
end = ']'
split = ','

start_line = 0
string_json += begin
while(True):
    # Read a line.
    line = f.readline()
    # When readline returns an empty string, the file is fully read.
    if line == "":
        print("::DONE::")
        break
    if count != start_line:
      string_json += split
    string_json += line
    content.append(line)
    count +=1

string_json += end

::DONE::

In [6]:
string_json[0:1000]

'[{"_index":"adct","_type":"adct","_id":"GZdwgW0BVag6oCykn075","_score":1,"_source":{"education":"North Carolina State University (NCSU), Raleigh, NC\\r\\nPh.D., Mathematics, May 2007\\r\\nM.S., Applied Mathematics, May 2005\\r\\nMethodist University (MU), Fayetteville, NC\\r\\nB.S., Mathematics and Financial Economics, Summa Cum Laude, May 2002","work":"Suthathip Suanmali, Bundit Limmeechokchai, The Assessment of Biofuel Utilization Policy\\r\\non the Total Output and CO2 Emissions in Thailand, Journal of Engineering, Project, and Production\\r\\nManagement, 3(2): 57-64, 2013\\r\\nVeeris Ammarapala, Thanwadee Chinda, Pison Udomworarat, Terdsak Rongwiriyapanich,\\r\\nAmnart Khumpanit, Suthathip Suanmali, and Boonyarat Sampanwattanachai, Selection of\\r\\nWeigh Station in Thailand using Analytic Hierarchy Process, Songklanakarin Journal of Science\\r\\nand Technology, 3(1), 81-90, 2013\\r\\nKarnjana Sanglimsuwan, Suthathip Suanmali, Veeris Ammarapala, The Export Growth And\\r\\nRevealed Comparative Advantage Of'

In [7]:
import json
data = json.loads(string_json)

In [8]:
data[0:1]

[{'_id': 'GZdwgW0BVag6oCykn075',
  '_index': 'adct',
  '_score': 1,
  '_source': {'education': 'North Carolina State University (NCSU), Raleigh, NC\r\nPh.D., Mathematics, May 2007\r\nM.S., Applied Mathematics, May 2005\r\nMethodist University (MU), Fayetteville, NC\r\nB.S., Mathematics and Financial Economics, Summa Cum Laude, May 2002',
   'email': 'ssuanma@gmail.com',
   'etc': '',
   'expertise': 'Applied Linear Algebras; Highway Assets Maintenance and Management System; Regional\r\nTrade Analysis; Cross Border Trade Facilitation; Willingness to Pay',
   'name': 'ผศ.ดร. สุธาทิพย์ สวนมะลิ',
   'position': '',
   'pullDate': '2019-09-30T09:11:44.795Z',
   'row': 2,
   'sheet': 7,
   'tel': 'T 02 501-3507 EXT 6006\r\nF 02 501-3507 EXT 6014',
   'university': 'สถาบันเทคโนโลยีนานาชาติสิริธร',
   'work': 'Suthathip Suanmali, Bundit Limmeechokchai, The Assessment of Biofuel Utilization Policy\r\non the Total Output and CO2 Emissions in Thailand, Journal of Engineering, Project, and Production\r\nManagement, 3(2): 57-64, 2013\r\nVeeris Ammarapala, Thanwadee Chinda, Pison Udomworarat, Terdsak Rongwiriyapanich,\r\nAmnart Khumpanit, Suthathip Suanmali, and Boonyarat Sampanwattanachai, Selection of\r\nWeigh Station in Thailand using Analytic Hierarchy Process, Songklanakarin Journal of Science\r\nand Technology, 3(1), 81-90, 2013\r\nKarnjana Sanglimsuwan, Suthathip Suanmali, Veeris Ammarapala, The Export Growth And\r\nRevealed Comparative Advantage Of Thailand To India’s Jewelry Sector, In Proceeding of the\r\n4th International Conference on Engineering, Project and Production Management, 23-25 October\r\n2013, Bangkok, Thailand\r\nSuthathip Suanmali, Karnjana Sanglimsuwan, Mananya Klanpoth, Boonyaporn\r\nJongmeepornsathitkul, Bandasak Pukkanavanich and Nipa Sakdakeitikul, The Assessment\r\nOf Household’s Preferences For Recycling Efforts: The Willingness To Pay Approach, In Proceeding\r\nof the 4th International Conference on Engineering, Project and Production Management,\r\n23-25 October 2013, Bangkok, Thailand'},
  '_type': 'adct'}]

In [9]:
df_publish = pd.json_normalize(data)

In [10]:
df_publish

    _index _type  ... _source.row                                   _source.email
0     adct  adct  ...           2                               ssuanma@gmail.com
1     adct  adct  ...          25                     Email: chalie@siit.tu.ac.th
2     adct  adct  ...          27  Email Address: \r\nchalermchai_w@siit.tu.ac.th
3     adct  adct  ...           5                 E-mails: Natthari@siit.tu.ac.th
4     adct  adct  ...           3
..     ...   ...  ...         ...                                             ...
700   adct  adct  ...          50                             sutanit@hotmail.com
701   adct  adct  ...          51                           Jeab_pb45@hotmail.com
702   adct  adct  ...          81
703   adct  adct  ...          95
704   adct  adct  ...          67

[705 rows x 16 columns]

In [11]:
df_new = pd.concat([df_publish])

# clean name

In [125]:
def front(name, title):
    if name.find(title)>-1 and name.startswith(title):
        a = []
        b = ''
        for i in name:
            a.append(i)
        for i in range(len(title)):
            del a[0]
        for i in a:
            b = b+i
    return b 

def behind(name, title):
    if name.find(title)>-1 and name.endswith(title):
        a = []
        b = ''
        for i in name:
            a.append(i)
        for i in range(name.rfind(title),len(name)):
            del a[name.rfind(title)]
        for i in a:
            b = b+i
    return b

In [240]:
def deltitlefull(str):
    a = str
    b = []
    b.append(a)
    prefix = ''
    for i in b:
        if i in ('ว่าที่','จอมพล','พลเอก','พลโท','พลตรี','พลจัตวา','พันเอก','พันโท','พันตรี','ร้อยเอก','ร้อยโท','ร้อยตรี','จ่าสิบเอกพิเศษ','จ่าสิบเอก','จ่าสิบโท','จ่าสิบตรี','สิบเอก','สิบโท','สิบตรี','จอมพลเรือ','พลเรือเอก','พลเรือโท','พลเรือตรี','พลเรือจัตวา','นาวาเอก','นาวาโท','นาวาตรี','เรือเอก','เรือโท','เรือตรี','พันจ่าเอก','พันจ่าโท','พันจ่าตรี','จ่าเอก','จ่าโท','จ่าตรี','จอมพลอากาศ','พลอากาศเอก','พลอากาศโท','พลอากาศตรี','พลอากาศจัตวา','นาวาอากาศเอก','นาวาอากาศโท','นาวาอากาศตรี','เรืออากาศเอก','เรืออากาศโท','เรืออากาศตรี','พันจ่าอากาศเอก','พันจ่าอากาศโท','พันจ่าอากาศตรี','จ่าอากาศเอก','จ่าอากาศโท','จ่าอากาศตรี','พลตำรวจเอก','พลตำรวจโท','พลตำรวจตรี','พลตำรวจจัตวา','พันตำรวจเอก','พันตำรวจโท','พันตำรวจตรี','ร้อยตำรวจเอก','ร้อยตำรวจโท','ร้อยตำรวจตรี','ดาบตำรวจ','จ่าสิบตำรวจ','สิบตำรวจเอก','สิบตำรวจโท','สิบตำรวจตรี','หม่อมหลวง','ผู้ช่วยศาสตราจารย์','รองศาสตราจารย์','ศาสตราจารย์','อาจารย์','แพทย์หญิง','นายแพทย์','นาง','นางสาว','นาย'):
            return a, prefix
    c = ['ฯพณฯ']
    c1 = ['ผู้ช่วยศาสตราจารย์พิเศษ','รองศาสตราจารย์พิเศษ','ศาสตราจารย์พิเศษ','อาจารย์พิเศษ','ผู้ช่วยศาสตราจารย์','รองศาสตราจารย์','ศาสตราจารย์กิตติคุณ','ศาสตราจารย์เกียรติยศ','ศาสตราจารย์','อาจารย์']
    c2 = ['ว่าที่']
    c3 = ['จอมพลพิเศษหญิง','พลเอกพิเศษหญิง','พลโทพิเศษหญิง','พลตรีพิเศษหญิง','พลจัตวาพิเศษหญิง','พันเอกพิเศษหญิง','พันโทพิเศษหญิง','พันตรีพิเศษหญิง','ร้อยเอกพิเศษหญิง','ร้อยโทพิเศษหญิง','ร้อยตรีพิเศษหญิง','จ่าสิบเอกพิเศษพิเศษหญิง','จ่าสิบเอกพิเศษหญิง','จ่าสิบโทพิเศษหญิง','จ่าสิบตรีพิเศษหญิง','สิบเอกพิเศษหญิง','สิบโทพิเศษหญิง','สิบตรีพิเศษหญิง','จอมพลเรือพิเศษหญิง','พลเรือเอกพิเศษหญิง','พลเรือโทพิเศษหญิง','พลเรือตรีพิเศษหญิง','พลเรือจัตวาพิเศษหญิง','นาวาเอกพิเศษหญิง','นาวาโทพิเศษหญิง','นาวาตรีพิเศษหญิง','เรือเอกพิเศษหญิง','เรือโทพิเศษหญิง','เรือตรีพิเศษหญิง','พันจ่าเอกพิเศษหญิง','พันจ่าโทพิเศษหญิง','พันจ่าตรีพิเศษหญิง','จ่าเอกพิเศษหญิง','จ่าโทพิเศษหญิง','จ่าตรีพิเศษหญิง','จอมพลอากาศพิเศษหญิง','พลอากาศเอกพิเศษหญิง','พลอากาศโทพิเศษหญิง','พลอากาศตรีพิเศษหญิง','พลอากาศจัตวาพิเศษหญิง','นาวาอากาศเอกพิเศษหญิง','นาวาอากาศโทพิเศษหญิง','นาวาอากาศตรีพิเศษหญิง','เรืออากาศเอกพิเศษหญิง','เรืออากาศโทพิเศษหญิง','เรืออากาศตรีพิเศษหญิง','พันจ่าอากาศเอกพิเศษหญิง','พันจ่าอากาศโทพิเศษหญิง','พันจ่าอากาศตรีพิเศษหญิง','จ่าอากาศเอกพิเศษหญิง','จ่าอากาศโทพิเศษหญิง','จ่าอากาศตรีพิเศษหญิง','พลตำรวจเอกพิเศษหญิง','พลตำรวจโทพิเศษหญิง','พลตำรวจตรีพิเศษหญิง','พลตำรวจจัตวาพิเศษหญิง','พันตำรวจเอกพิเศษหญิง','พันตำรวจโทพิเศษหญิง','พันตำรวจตรีพิเศษหญิง','ร้อยตำรวจเอกพิเศษหญิง','ร้อยตำรวจโทพิเศษหญิง','ร้อยตำรวจตรีพิเศษหญิง','ดาบตำรวจพิเศษหญิง','จ่าสิบตำรวจพิเศษหญิง','สิบตำรวจเอกพิเศษหญิง','สิบตำรวจโทพิเศษหญิง','สิบตำรวจตรีพิเศษหญิง','จอมพลพิเศษ','พลเอกพิเศษ','พลโทพิเศษ','พลตรีพิเศษ','พลจัตวาพิเศษ','พันเอกพิเศษ','พันโทพิเศษ','พันตรีพิเศษ','ร้อยเอกพิเศษ','ร้อยโทพิเศษ','ร้อยตรีพิเศษ','จ่าสิบเอกพิเศษพิเศษ','จ่าสิบเอกพิเศษ','จ่าสิบโทพิเศษ','จ่าสิบตรีพิเศษ','สิบเอกพิเศษ','สิบโทพิเศษ','สิบตรีพิเศษ','จอมพลเรือพิเศษ','พลเรือเอกพิเศษ','พลเรือโทพิเศษ','พลเรือตรีพิเศษ','พลเรือจัตวาพิเศษ','นาวาเอกพิเศษ','นาวาโทพิเศษ','นาวาตรีพิเศษ','เรือเอกพิเศษ','เรือโทพิเศษ','เรือตรีพิเศษ','พันจ่าเอกพิเศษ','พันจ่าโทพิเศษ','พันจ่าตรีพิเศษ','จ่าเอกพิเศษ','จ่าโทพิเศษ','จ่าตรีพิเศษ','จอมพลอากาศพิเศษ','พลอากาศเอกพิเศษ','พลอากาศโทพิเศษ','พลอากาศตรีพิเศษ','พลอากาศจัตวาพิเศษ','นาวาอากาศเอกพิเศษ','นาวาอากาศโทพิเศษ','นาวาอากาศตรีพิเศษ','เรืออากาศเอกพิเศษ','เรืออากาศโทพิเศษ','เรืออากาศตรีพิเศษ','พันจ่าอากาศเอกพิเศษ','พันจ่าอากาศโทพิเศษ','พันจ่าอากาศตรีพิเศษ','จ่าอากาศเอกพิเศษ','จ่าอากาศโทพิเศษ','จ่าอากาศตรีพิเศษ','พลตำรวจเอกพิเศษ','พลตำรวจโทพิเศษ','พลตำรวจตรีพิเศษ','พลตำรวจจัตวาพิเศษ','พันตำรวจเอกพิเศษ','พันตำรวจโทพิเศษ','พันตำรวจตรีพิเศษ','ร้อยตำรวจเอกพิเศษ','ร้อยตำรวจโทพิเศษ','ร้อยตำรวจตรีพิเศษ','ดาบตำรวจพิเศษ','จ่าสิบตำรวจพิเศษ','สิบตำรวจเอกพิเศษ','สิบตำรวจโทพิเศษ','สิบตำรวจตรีพิเศษ','จอมพลหญิง','พลเอกหญิง','พลโทหญิง','พลตรีหญิง','พลจัตวาหญิง','พันเอกหญิง','พันโทหญิง','พันตรีหญิง','ร้อยเอกหญิง','ร้อยโทหญิง','ร้อยตรีหญิง','จ่าสิบเอกพิเศษหญิง','จ่าสิบเอกหญิง','จ่าสิบโทหญิง','จ่าสิบตรีหญิง','สิบเอกหญิง','สิบโทหญิง','สิบตรีหญิง','จอมพลเรือหญิง','พลเรือเอกหญิง','พลเรือโทหญิง','พลเรือตรีหญิง','พลเรือจัตวาหญิง','นาวาเอกหญิง','นาวาโทหญิง','นาวาตรีหญิง','เรือเอกหญิง','เรือโทหญิง','เรือตรีหญิง','พันจ่าเอกหญิง','พันจ่าโทหญิง','พันจ่าตรีหญิง','จ่าเอกหญิง','จ่าโทหญิง','จ่าตรีหญิง','จอมพลอากาศหญิง','พลอากาศเอกหญิง','พลอากาศโทหญิง','พลอากาศตรีหญิง','พลอากาศจัตวาหญิง','นาวาอากาศเอกหญิง','นาวาอากาศโทหญิง','นาวาอากาศตรีหญิง','เรืออากาศเอกหญิง','เรืออากาศโทหญิง','เรืออากาศตรีหญิง','พันจ่าอากาศเอกหญิง','พันจ่าอากาศโทหญิง','พันจ่าอากาศตรีหญิง','จ่าอากาศเอกหญิง','จ่าอากาศโทหญิง','จ่าอากาศตรีหญิง','พลตำรวจเอกหญิง','พลตำรวจโทหญิง','พลตำรวจตรีหญิง','พลตำรวจจัตวาหญิง','พันตำรวจเอกหญิง','พันตำรวจโทหญิง','พันตำรวจตรีหญิง','ร้อยตำรวจเอกหญิง','ร้อยตำรวจโทหญิง','ร้อยตำรวจตรีหญิง','ดาบตำรวจหญิง','จ่าสิบตำรวจหญิง','สิบตำรวจเอกหญิง','สิบตำรวจโทหญิง','สิบตำรวจตรีหญิง','จอมพล','พลเอก','พลโท','พลตรี','พลจัตวา','พันเอก','พันโท','พันตรี','ร้อยเอก','ร้อยโท','ร้อยตรี','จ่าสิบเอกพิเศษ','จ่าสิบเอก','จ่าสิบโท','จ่าสิบตรี','สิบเอก','สิบโท','สิบตรี','จอมพลเรือ','พลเรือเอก','พลเรือโท','พลเรือตรี','พลเรือจัตวา','นาวาเอก','นาวาโท','นาวาตรี','เรือเอก','เรือโท','เรือตรี','พันจ่าเอก','พันจ่าโท','พันจ่าตรี','จ่าเอก','จ่าโท','จ่าตรี','จอมพลอากาศ','พลอากาศเอก','พลอากาศโท','พลอากาศตรี','พลอากาศจัตวา','นาวาอากาศเอก','นาวาอากาศโท','นาวาอากาศตรี','เรืออากาศเอก','เรืออากาศโท','เรืออากาศตรี','พันจ่าอากาศเอก','พันจ่าอากาศโท','พันจ่าอากาศตรี','จ่าอากาศเอก','จ่าอากาศโท','จ่าอากาศตรี','พลตำรวจเอก','พลตำรวจโท','พลตำรวจตรี','พลตำรวจจัตวา','พันตำรวจเอก','พันตำรวจโท','พันตำรวจตรี','ร้อยตำรวจเอก','ร้อยตำรวจโท','ร้อยตำรวจตรี','ดาบตำรวจ','จ่าสิบตำรวจ','สิบตำรวจเอก','สิบตำรวจโท','สิบตำรวจตรี']   
    c4 = ['แพทย์หญิง','นายแพทย์','ทันตแพทย์หญิง','ทันตแพทย์','นางสาว','นาง','นาย']
    c5 = ['หม่อมหลวง','คุณหญิง','ท่านหญิง','ท่านผู้หญิง','หม่อมราชวงศ์หญิง','หม่อมราชวงศ์','หม่อมเจ้าหญิง','หม่อมเจ้า']


    for i in c:
        if a.startswith(i) == True:
            a = front(a,i)
            prefix = i
            break
    for i in c1:
        if a.startswith(i) == True:
            a = front(a,i)
            prefix = i
            break
    for i in c2:
        if a.startswith(i) == True:
            a = front(a,i)
            prefix = i
            break
    for i in c3:
        if a.startswith(i) == True:
            a = front(a,i)
            prefix = i
            break
    for i in c4:
        if a.startswith(i) == True:
            a = front(a,i)
            prefix = i
            break
    for i in c5:
        if a.startswith(i) == True:
            a = front(a,i)
            prefix = i
            break
    return a, prefix
   
def deltitleshort(str):
    a = str
    b = ''
    s  = ['พล.อ.','พล.ท.','พล.ต','พล.จ.','พ.อ.','พ.ท.','พ.ต.','ร.อ.','ร.ท.','ร.ต.','จ.ส.อ.','จ.ส.ท.','จ.ส.ต.','ส.อ.','ส.ท.','ส.ต.','พล.ร.อ.','พล.ร.ท.','พล.ร.ต.','พล.ร.จ.','น.อ.','น.ท.','น.ต.','พ.จ.อ.','พ.จ.ท.','พ.จ.ต.','จ.อ.','จ.ท.','จ.ต.','พล.อ.อ.','พล.อ.ท.','พล.อ.ต.','พล.อ.จ.','พ.อ.อ.','พ.อ.ท.','พ.อ.ต.','พล.ต.อ.','พล.ต.ท.','พล.ต.ต.','พล.ต.จ.','พ.ต.อ.','พ.ต.ท.','พ.ต.ต.','ร.ต.อ.','ร.ต.ท.','ร.ต.ต.','ด.ต.','จ.ส.ต.','ส.ต.อ.','ส.ต.ท.','ส.ต.ต.','พญ.','นพ.','ดร.','น.ส.','ม.ล.','ม.ร.ว','ม.จ.','ผศ.','รศ.','ศ.','อ.']
    s1 = ('พญ.','นพ.','ดร.','น.ส.','น.สพ.','สพ.ญ.','ภญ.','ภกญ.')
    s2 = ('ผศ.','รศ.','ศ.','อ.')
    s3 = ('ม.ล.','ม.ร.ว','ม.จ.')
    for i in range(0,a.rfind('.')+1):
        b = b+a[i]

    prefix = ''
    for i in s:
        if b.endswith(i) == True:
            a = front(a,b)
            prefix = b
            for i in s1:
                if b.endswith(i) == True:
                    return a, prefix
            for i in s2:
                if b.endswith(i) == True:
                    if a.startswith('(พิเศษ)') == True:
                        a = front(a,'(พิเศษ)')
                        prefix += '(พิเศษ)'
                        return a, prefix
                    elif a.startswith('พิเศษ') == True:
                        a = front(a,'พิเศษ')
                        prefix += 'พิเศษ'
                        return a, prefix
                    else:
                        return a, prefix
            for i in s3:
                if b.endswith(i) == True:
                    if a.startswith('หญิง') == True:
                        a = front(a,'หญิง')
                        prefix += ('หญิง')
                        return a, prefix
                    elif a.startswith('(หญิง)') == True:
                        a = front(a,'(หญิง)')
                        prefix += '(หญิง)'
                        return a, prefix
            if a.startswith('(พิเศษ)') == True:
                a = front(a,'(พิเศษ)')
                prefix += '(พิเศษ)'
            elif a.startswith('พิเศษ') == True:
                a = front(a,'พิเศษ')
                prefix += 'พิเศษ'
            if a.startswith('หญิง') == True:
                a = front(a,'หญิง')
                prefix += 'หญิง'
            elif a.startswith('(หญิง)') == True:
                a = front(a,'(หญิง)')
                prefix += '(หญิง)'
            return a, prefix
    else:
        return a, prefix

def delnumber(str):
    p = ['0','1','2','3','4','5','6','7','8','9']
    a = []
    b = ''
    j = 0
    for i in str:
        a.append(i)
    while j < len(a):
        if a[j] in p:
            del a[j]
            j = j-1
        j = j+1   
    for i in a:
        b = b + i
    return b

def celanSpace(str):
    str = " ".join(str.split())
    return str.strip()

def delengtitle(str):
    a = str
    b= ''
    c = ('Md.','MD.','md.','Mrs.','MRS.','mrs.','Ph.D.','Associate.','Assoc.','Asso.','Asst.','Assist.','Professor.','Prof.','Dr.','Mr.','Ms.','associate.','assoc.','asso.','asst.','assist.','professor.','prof.','dr.','mr.','ms.','ASSOCIATE.','ASSOC.','ASSO.','ASST.','ASSIST.','PROFESSOR.','PROF.','DR.','MR.','MS.')
    for i in range(0,a.rfind('.')+1):
        b += a[i]

    prefix = ''
    for i in c:
        if b.endswith(i) == True:
            # a = front(a,b)
            a = a.replace(i,"")
            prefix = i
            return a, prefix
    else:
        return a, prefix

In [253]:
def delAllPrefix(str):
  str = delnumber(str)
  str, prefix1 = deltitlefull(str)
  str, prefix2 = deltitleshort(str)
  str, prefix3 = delengtitle(str)
  str = celanSpace(str)
  prefix = prefix1+prefix2+prefix3
  return str, prefix

def cleanName(row):
  clean_name, prefix = delAllPrefix(row['_source.name'])
  clean_name = clean_name.replace(',','')
  row['clean_name'] = clean_name
  row['prefix'] = prefix
  return row

In [254]:
front("พลเอกเค้ก","พลเอก")

'เค้ก'

In [255]:
deltitlefull("นาย ศุภชัย หนูเทพ")

(' ศุภชัย หนูเทพ', 'นาย')

In [256]:
deltitleshort("พญ.พล.อ. ศุภชัย หนูเทพ")

(' ศุภชัย หนูเทพ', 'พญ.พล.อ.')

In [257]:
delengtitle('mrs. ศุภชัย หนูเทพ')

(' ศุภชัย หนูเทพ', 'mrs.')

In [258]:
delnumber('2024 cake88')

' cake'

In [259]:
celanSpace(' MRS. mm    mm m ')

'MRS. mm mm m'

In [260]:
delAllPrefix("นาย ศุภชัย หนูเทพ")

('ศุภชัย หนูเทพ', 'นาย')

In [261]:
delAllPrefix('พญ.พล.อ. ศุภชัย หนูเทพ')

('ศุภชัย หนูเทพ', 'พญ.พล.อ.')

In [262]:
delAllPrefix('mrs. ศุภชัย หนูเทพ 2021')

('ศุภชัย หนูเทพ', 'mrs.')

In [263]:
df_new = df_new.apply(cleanName,axis=1)

In [264]:
df_new

    _index _type  ...                 clean_name   prefix
0     adct  adct  ...          สุธาทิพย์ สวนมะลิ   ผศ.ดร.
1     adct  adct  ...       WAREE KONGPRAWECHNON
2     adct  adct  ...  Chalermchai Wanichlamlert
3     adct  adct  ...      Nattharika Rittippant    Ph.D.
4     adct  adct  ...             พรพิมล จงไพศาล   ผศ.ดร.
..     ...   ...  ...                        ...      ...
700   adct  adct  ...           สุธนิตย์ พุทธพนม      ดร.
701   adct  adct  ...          วัฒนชัย เยาวรัตน์  อาจารย์
702   adct  adct  ...     ภาวิณี ศักดิ์สุนทรศิริ   ผศ.ดร.
703   adct  adct  ...         ณัฐพันธ์ ถนอมสัตย์       อ.
704   adct  adct  ...          มัณฑนา รังสิโยภาส    อ.ดร.

[705 rows x 18 columns]

# Create Author Table

In [265]:
uniq_name = df_new['clean_name'].unique()

In [266]:
uniq_name

array(['สุธาทิพย์ สวนมะลิ', 'WAREE KONGPRAWECHNON',
       'Chalermchai Wanichlamlert', 'Nattharika Rittippant',
       'พรพิมล จงไพศาล', 'Raktipong Sahamitmongkol', 'กฤษ เฉยไสย',
       'Banlue Srisuchinwong PhD', 'Chalie Charoenlarpnopparut',
       'สุรสิทธิ์ ปิยะศิลป์', 'ต้นคิด จันทรัศมี', 'ทวิวัชร วีระแกล้ว',
       'สุวัฒน์ กุลธนปรีดา', 'บุญชัย วัจจะตรากุล', 'พงษ์ศิริ จรุยนนท์',
       'สุรเจษฎ์ สุขไชยพร', 'กุลธิดา โรจน์วิบูลย์ชัย', 'วสุ เชาว์พานนท์',
       'พิเชษฐ์ ช่อผกา', 'ทสพล เขตเจนการ', 'จิรภัทร์ อนันต์ภัทรชัย',
       'ปวัตน์ ชูศิลป์', 'นิรุทธ์ ชลายนานนท์', 'นินนาท ราชประดิษฐ์',
       'ศลิษา วีรพันธุ์', 'ฐนียา เภอบางเข็ม', 'ภาณุ พุทธวงศ์',
       'ชูพงศ์ ช่วยเพ็ญ', 'ปัญญวัณ ลำเพาพงศ์', 'ศรินทร์ทิพย์ แทนธานี',
       'Meng Jing', 'ประภาส วันทอง', 'อุดมเกียรติ นนทแก้ว',
       'จักร จันทลักขณา', 'Arto Nurmikko', 'พัชรี เทพนิมิตร',
       'ปูมยศ วัลลิกุล', 'สุชาติ เซี่ยงฉิน', 'อรวรรณ โรจน์วิรุฬห์',
       'กิตติศักดิ์ คู่วรัญญู', 'วิชัย จันทรักษา', 'สุคม ลิปิเลิศ',
       'วรรณรัช สันติอมรทัต', 'จักรพันธ์ สัวบุตร', 'สุวัฒน์ เณรโต',
       'สุรชัย โกเมนธรรมโสภณ', 'ประชุม คำพุฒ', 'เกษรินทร์ พูลทรัพย์',
       'สุวิมล วงศ์สกุลเภสัช', 'วีรวัฒน์ ปัตทวีคงคา', 'เดวิดอาร์เธอร์ซัน',
       'อัมรินทร์ ดีมะการ', 'วิศรุต จันทระ', 'กวินธร สัยเจริญ',
       'ธีรสิทธิ์ เกษตรเกษม', 'Josef Mittlemann', 'Ravi Pendse',
       'ณัฐวุฒิ ขวัญแก้ว', 'ศิริวัฒน์ พูนวศิน',
       'ศิริโรจน์ ศิริสุขประเสริฐ', 'สันติ อัศวศรีพงศ์ธร',
       'ชัยวัฒน์ ชัยกุล', 'วิชัย สุระพัฒน์', 'Nitin Padture',
       'Daniel Loveless', 'Xin Liang', 'Tao Liu', 'มงคล ลี้ประกอบบุญ',
       'Mark Abkowitz', 'Do-Joong Lee', 'Joonhee Lee', 'Pradeep Guduru',
       'Christopher Bull', 'Kevin Brown', 'Mohammad Hassan Ghaed',
       'Martha Gialampouki', 'Vadivelnadar K. Ponnulakshmi', 'Wenwen Wu',
       'เจตวีย์ ภัครัชพันธุ์', 'ขวัญเรือน ทันประสงค์', 'อภิรดี เสนะเปรม',
       'อุศนา ตัณฑุลเวศม์', 'ศิริพงศ์ อติพันธ์', 'เวชพงศ์ ชุติชูเดช',
       'ปวเรศ ชมเดช', 'สุรชัย รดาการ', 'พิพล บุญจันต๊ะ', 'วินัย เพชร์สุข',
       'ยุทธศักดิ์ อุราธรรมกุล', 'เสนีย์ ตั้งสถิตย์',
       "Joseph (Jose') Manuel Calo", 'ทวีเดช ศิริธนาพิพัฒน์',
       'ธำรงค์ พุทธาพิทักษ์ผล', 'อัญชนา วงษ์โต', 'Jacob Rosenstein',
       'Jimmy Xu', 'Katharina Galor', 'Ilker Ozden', 'Vijay Sethuraman',
       'Thomas Powers', 'Raymond Roberts', 'Seunghyun Kim',
       'ชาญเวช ศีลพิพัฒน์', 'ประพจน์ ขุนทอง', 'ปรีชา วรรณภูมิ',
       'พิชัย กฤชไมตรี', 'คุณยุต เอี่ยมสอาด', 'อรรถพร วิเศษสินธุ์',
       'ศรีสุดา แซ่อึ้ง', 'ธีรวัฒน์ สมสิริกาญจนคุณ', 'เอนก ชมวงษ์',
       'สุพจน์ ศิริเสนาพันธ์', 'สมเสียง จันทาสี', 'อดิศักดิ์ นาวเหนียว',
       'เอมม่า อาสนจินดา', 'กฤษฎาณชลี กาญจนศรี', 'ทวีชัย สำราญวานิช',
       'อาณัติ ดีพัฒนา', 'วิโรจน์ เรืองประเทืองสุข', 'ชัยวัฒน์ กันหารี',
       'จิตติ พัทธวณิช', 'ญาณิศา ละอองอุทัย', 'วรสิทธิ์ กาญจนกิจเกษม',
       'พุทธา จีนครัว', 'วิรุณศักดิ์ สันติเพ็ชร์',
       'กาญจนพันธุ์ สุขวิชชัย', 'ทรงศักดิ์ สุธาสุประดิษฐ',
       'กวิน สนธิเพิ่มพูน', 'สมลักษณ์ วรรณฤมล กีเยลาโรว่า',
       'นิคม กลมเกลี้ยง', 'กุลยา กนกจารุวิจิตร', 'วิลาวัลย์ คณิตชัยเดชา',
       'รัฐภูมิ ปริชาตปรีชา', 'พงษ์ธร จุฬพันธ์ทอง', 'สรัณกร เหมะวิบูลย์',
       'อุดมฤกษ์ ปานพลอย', 'กานต์ ลี่วัฒนายิ่งยง', 'วิสาข์ เจ่าสกุล',
       'ดลเดช ตั้งตระการพงษ์', 'อิศราวุธ ประเสริฐสังข์',
       'ภาณุวัฒน์ ด่านกลาง', 'อานุภาพ บุญส่งศรีกุล', 'สัญชัย เอียดปราบ',
       'Pisal Yenradee D.Eng.', 'Prapun Suksompong', 'สงบ คำค้อ',
       'ชาญยุทธ โกลิตะวงษ์', 'สว่างทิตย์ ศรีกิจสุวรรณ',
       'บุญญฤทธิ์ อุยยานนวาระ', 'สิริวิชญ์ เตชะเจษฎารังษี',
       'PARNTHEP JULNIPITAWONG', 'นภัสถ์ ไตรโรจน์', 'อัครพันธ์ วงศ์กังแห',
       'สุวิทย์ กิระวิทยา', 'อาทิตย์ ฤทธิ์เลื่อน', 'สุภัทรา ปลื้มกมล',
       'กันต์ไชย ธนาพรรวีกิตติ์', 'ปฤษทัศว์ ศีตะปันย์',
       'วีทิต วรรณเลิศลักษณ์', 'จิระเดช เกิดศรี', 'THUNYASETH SETHAPUT',
       'BOONTAWEE SUNTISRIVARAPORN', 'ชัยภัทร เครีอหงส์',
       'คมสันต์ กาญจนสิทธิ์', 'CHUNG-HAO (JOHN) HSU',
       'วลาดิมิร์ คูปริอานอฟ', 'ขวัญนิธิ คำเมือง', 'วรนารถ แสงฉาย',
       'สุรชัย องกิตติกุล', 'อุปถัมภ์ นาครักษ์', 'อนันต์ชัย อยู่แก้ว',
       'มัทนี สงวนเสริมศรี', 'ธีระศักดิ์ หุดากร', 'มานพ สีเหลือง',
       'วรพล เกียรติกิตติพงษ์', 'ภาณุ บูรณจารุกร', 'ทศพล ตรีรุจิราภาพงศ์',
       'ศิษฎา สิมารักษ์', 'WARODOM WERAPUN', 'ฉกาจกิจ แท่นชัยกุล',
       'ปณัฐพงศ์ บุญนวล', 'เสาวลักษณ์ ตองกลิ่น', 'นพวรรณ โม้ทอง',
       'ประกาศ ทองประไพ', 'Elizabeth Dworska', 'Graham Hemingway',
       'ประสงค์ วงศ์วิชา', 'อาทิตย์ เนรมิตตกพงศ์', 'Phil Davis',
       'Sue Prendergast', 'ชินะวัฒน์ มุกตพันธุ์', 'Bill Patterson',
       'Jiajue Chai', 'Janet Blume', 'Allan Bower', 'Clyde Briant',
       'Axel van de Walle', 'Petia Vlahovska', 'Alexander Zaslavsky',
       'Daniel Bacher', 'Michael Jibitsky', 'Arpiar Kaloustian',
       'Abhishek Dubey', 'Hector Garces', 'Wenpeng Zhu',
       'Enkeleida Lushi', 'David Koester', 'วัชรี วีรคเชนทร์',
       'ตฤณ แสงสุวรรณ', 'Sture K. F. Karlsson', 'เปรื่องบุญ จักกะพาก',
       'ปัญญา เหล่าอนันต์ธนา', 'จันทนี รุ่งเรืองพิทยากุล',
       'Haneesh Kesari', 'Brian W. Sheldon', 'ธนากร ฆ้องเดช',
       'สุจิตรา ดวงพัตรา', 'พิสุทธิ์ รพีศักดิ์', 'Jeffrey Morgan',
       'Shouheng Sun', 'Ljubomir Miljacic', 'Ramsharan Rangarajan',
       'G. Tayhas R. Palmore', 'Marc Richman', 'Jerome Weiner',
       'Joseph Fontaine', 'ทิพวัลย์ หวั่นอินตา', 'มิติ รุจานุรักษ์',
       'Edith Mathiowitz', 'ประกอบ สุรวัฒนาวรรณ',
       'สัจจาทิพย์ ทัศนียพันธุ์', 'กีรติ แสงแจ่ม', 'เอกรัฐ สุวรรณกูฏ',
       'ไชยวัฒน์ กล่ำพล', 'สมสุข เตชสมบูรณ์สุข', 'พงศ์ธร พรหมบุตร',
       'นงลักษณ์ งามเจริญ', 'ปิยฉัตร วัฒนชัย', 'เอกไท วิโรจน์สกุลชัย',
       'เฉลิมพล เปล่งสะอาด', 'สมพงษ์ พิเชฐภิญโญ',
       'สร้อยพัทธา สร้อยสุวรรณ', 'โรสมารินทร์ สุขเกษม',
       'Maurice Glicksman', 'Danny Warshay', 'Marek Wojtowicz',
       'Jason Harry', 'David Joseph Odeh', 'David Cooper',
       'อภิชาต แจ้งบำรุง', 'จิระชัย มิ่งบรรเจิดสุข',
       'ภาณุมาศ อรุณเดชาวัฒน์', 'ทวีศักดิ์ แตะกระโทก', 'กรกฎ นุสิทธิ์',
       'ศิริชัย ตันรัตนวงศ์', 'วิรุฬห์ ศรีบริรักษ์', 'กำพล ทรัพย์สมบูรณ์',
       'บรรหาญ ลิลา', 'จันทร์ฑา นาควชิรตระกูล', 'เกษม พิพัฒน์ปัญญานุกูล',
       'อานนท์ วงษ์แก้ว', 'ปารีชา รัตนศิริ', 'วัชรินทร์ ดงบัง',
       'อนุพนธ์ พิมพ์ช่วย', 'วิศณุ บุญรอด', 'กฤษดา ประสพชัยชนะ',
       'ชาญยุทธ กาฬกาญจน์', 'บุญพล มีไชโย', 'ธราธร บุญศรี',
       'วิศว์ ศรีพวาทกุล', 'นาวี เจี่ยดารง', 'Jirachai Buddhakulsomsiri',
       'Chawalit Jeenanunta', 'Thananchai Leephakpreeda',
       'Pisit Chanvarasuth', 'อัญชลี แสงซ้าย', 'ทินกร คำแสน',
       'ภัควัฒน์ แสนเจริญ', 'สมพร เรืองสินชัยวานิช', 'สุชาติ แย้มแม่น',
       'พลิศวร์ รัตนสวัสดิ์', 'พิสุทธิ์ อภิชยกุล', 'ชูวงศ์ ชัยสุข',
       'ทิพย์วารี หว่างเจริญศักดิ์', 'ชำนาญ ขุมทรัพย์',
       'มนต์ชัย ดวงปัญญา', 'ยศวีย์ แก้วมณี', 'อุษณีย์ กิตกาธร',
       'รัตน บริสุทธิกุล', 'วีรยุทธ เลิศบำรุงสุข', 'อมเรศ บกสุวรรณ',
       'อาจารย์ ธรรมรัฏฐ์ สมิตะลัมพะ', 'ณัฐ ธัชยะพงษ์',
       'ประจวบ กล่อมจิตร', 'อภิชาต วสุธาพิทักษ์', 'วันชัย ลีลากวีวงศ์',
       'ธรรมวิชช์ ประเสริฐ', 'ณัฐพล ศิริสว่าง', 'บุญชัย ผึ้งไผ่งาม',
       'จินดารัตน์ มณีเจริญ', 'ศิริรัตน์ วัชรวิชานันท์',
       'โอกร เมฆาสุวรรณดำรง', 'Daniel Balasubramanian', 'David DeLapp',
       'Rossane DeLapp', 'พุทธพล ทองอินทร์ดำ', 'รำพึง ชัยหลีเจริญ',
       'ศุภกร ศิรพจนกุล', 'John Kinnebrew', 'Douglas Adams',
       'นิยม พินิจการ', 'Karen Haberstroh', 'Bruce Caswell',
       'Ankit Srivastava', 'Christian Franck', 'Tuhina Adit Maark',
       'Jennifer Franck', 'Patrick McHugh', 'Brian Burke',
       'David Carchedi', 'Gregory Jay M.D. PhD', 'Chad Jenkins',
       'Naba Karan', 'Brian Corkum', 'Ann Hanna', 'Martin Maxey',
       'Yiyi Yang', 'Daegyoum Kim', 'Jin Ho Kim', 'Liang Guo',
       'R. Iris Bahar', 'Robert Hurt', 'Kyung-Suk Kim',
       'สมใจ ขจรชืพพันธุ์งาม', 'Mark Fuller', 'ศุภสิทธิ์ รอดขวัญ',
       'วิทิต ฉัตรรัตนกุลชัย', 'Akram Dallalah', 'ปองวิทย์ ศิริโพธิ์',
       'ธัญญะ เกียรติวัฒน์', 'พีรพล เวชสุวรรณมณี',
       'พัชราภรณ์ บุณยวานิชกุล', 'พีระยศ แสนโภชน์', 'ปานจิต ดำรงกุลกำจร',
       'ณัฏฐกา หอมทรัพย์', 'ดุสิต ธนเพทาย', 'ณัฐวุฒิ ชินธเนศ',
       'Richard Dobbins', 'L.B. Freund', 'Laurenz Hermann', 'Ted Morse',
       'Allan Pearson', 'Donald Stanford', 'วรฐ คูหิรัญ',
       'สุวิทย์ เจิมสวัสดิพงษ์', 'ชัชพล ชังชู', 'เกรียงไกร อัศวมาศบันลือ',
       'จินดา คุ้มงาน', 'ชินภัทร ทิพโยภาส', 'บัณฑร จิตต์สุภาพ',
       'นรรัตน์ วัฒนมงคล', 'ปาจรีย์ ทองสนิท', 'เล็ก วันทา',
       'ปรณัฐ วิสุวรรณ', 'สมาน เจริญกิจพูลผล', 'มนตรี พิรุณเกษตร',
       'เอกชัย สุธีรศักดิ์', 'ณยศ คุรุกิจโกศล', 'วีรพร พงศ์ติณบุตร',
       'โชคชัย ชื่นวัฒนาประณิธิ', 'เฉลิมภัณฑ์ ฟองสมุทร',
       'สุรเมศวร์ พิริยะวัฒน์', 'ปราโมทย์ ลายประดิษฐ์', 'อภิรัฐ ลิ่มมณี',
       'โกวิท มาศรัตน', 'เสฎฐกรณ์ อุปเสน', 'สิทธิภัสร์ เอื้ออภิวัชร์',
       'วัชระ เครือรัฐติกาล', 'นพรัตน์ สีหะวงษ์', 'กุลยศ อุดมวงศ์เส',
       'ศิริกาญจน์ ขันสัมฤทธิ์', 'สุชาดา อิศราภรณ์', 'ปิยนันท์ บุญพยัคฆ์',
       'ภมรรัตน์ จันธรรม', 'ปฐมศก วิไลพล', 'ขวัญชัย ไกรทอง',
       'รัตนา การุญบุญญานันท์', 'ศุภชัย วาสนานนท์', 'วิชุดา เมตตานันท',
       'ธนพล เพ็ญรัตน์', 'อภิชัย ฤตวิรุฬห์', 'โพธิ์งาม สมกุล',
       'ศิวะพงศ์ เพ็ชรสงค์', 'ฐิติวัฒน์ สืบสุวงศ์', 'Toshiaki Kondo',
       'Somsak Kittipiyakul', 'Curriculum Vitae', 'นันทกานต์ วงศ์เกษม',
       'Warangkana Saengsoy', 'Nirattaya Khamsemanan Ph.D',
       'เพชร เจียรนัยศิลาวงศ์', 'ณัฏฐวรรธ ธนประดิษฐ์กูล', 'พนมกร ขวาของ',
       'สุเมธ เหมะวัฒนะชัย', 'กนก วีรวงศ์', 'ธันวา ศรีประโมง',
       'ถาวร ธีรเวชญาณ', 'ศิษฐ์ภัณฑ์ แคนลา', 'กษมา ศิริสมบูรณ์',
       'เดชาพันธ์ รัฐศาสนศาสตร์', 'จตุพล ตั้งปกาศิต',
       'วีระศักดิ์ ละอองจันทร์', 'ศุภสิทธิ พงศ์ศิวะสถิตย์',
       'สมพิศ ตันตวรนาท', 'กำธรเกียรติ มุสิเกต', 'สุขุม โฆษิตชัยมงคล',
       'ธิบดินทร์ แสงสว่าง', 'จันทนา สังวรโยธิน', 'กัญจนา ทองสนิท',
       'วรฤทัย ชูเทียร', 'มนตรี พิพัฒน์ไพบูลย์', 'มัลลิกา ถาบุตร',
       'Lisa Bliss', 'ธนา ราษฎร์ภักดี', 'ปฏิพัทธ์ หงษ์สุวรรณ',
       'สุจินต์ วุฒิชัยวัฒน์', 'ไพฑูรย์ กิติสุนทร', 'นพพณ เลิศชูวงศา',
       'พรวสา วงษ์ปัญญา', 'สุภกิจ รูปขันธ์', 'อภิชาติ หีดนาคราม',
       'วศิมน พาณิชพัฒนกุล', 'Kenneth Breuer', 'Angus Kingon',
       'Jonathan Galli', 'Larry Howard', 'Michael James', 'David Paine',
       'Huajian Gao', 'David Henann', 'Anthony McCormick',
       'Jerry Daniels', 'Sean C. Deoni', 'Pedro F. Felzenszwalb',
       'Ronald Dunn', 'Kai Yan', 'Rod Beresford', 'Paul Waltz',
       'Marcelo Dias', 'Benjamin Lyons', 'J.J. Trey Crisco',
       'John Donoghue', 'Caroline Klivans', 'Diane Hoffman-Kim',
       'Selim Suner', 'Jay Tang', 'Gang Xiao', 'Gabriel Taubin',
       'Rick Fleeter', 'Andrew Gabor', 'Steven Petteruti', 'Jon Cohen',
       'William Curtin', 'Vladan Mlinar', 'Joseph Mundy', 'Sherief Reda',
       'Peter Damian Richardson', 'Andrew Peterson', 'Gustavo Fernandes',
       'Nico Frick', 'Jim Rice', 'Emre Sari', 'John Simeral',
       'Indrek Kulaots', 'William Patterson', 'Anita Shukla',
       'วินัย พฤกษะวัน', 'Rodney Clifton', 'วันเช็ง สิทธิกิจโยธิน',
       'วุฒิชัย กปิลกาญจน์', 'สันติ ลักษิตานนท์', 'อารยา ศักดิ์บูรณาเพชร',
       'เกียรติยุทธ กวีญาณ', 'ปาริชาต เชยพิม', 'ลัคน์ จันทนภาพ',
       'กุลภวา จามรมาน', 'ปฐมาภรณ์ ศรีผดุงธรรม', 'ยศวีร์ วีระกำแหง',
       'วรวรรณ ศรีฉัตราภิมุข', 'ชูเกียรติ การะเกตุ', 'สมหญิง ไทยนิมิต',
       'มงคล รักษาพัชรวงศ์', 'วชิระ จงบุรี', 'Vivek Shenoy', 'Ian Wong',
       'William Wolovich', 'ธงชัย ศรีวิริยรัตน์', 'ทนงศักดิ์ เทพสนธิ',
       'วรางค์รัตน์ จันทสาโร', 'ธเนศ อรุณศรีโสภณ', 'วรัตถา อุทยารัตน์',
       'เกตุชนา บุญฤทธิ์', 'ชัยธำรง พงศ์พัฒนศิริ',
       'ไพลิน เงาตระการวิวัฒน์', 'วรรณวรางค์ รัตนานิคม',
       'จักรวาล คุณะดิลก', 'ชาญชัย พลตรี', 'ธนาวดี เพชรยศ',
       'บัญชา อริยะจรรยา', 'ฉวีกาญจน์ สันทัสนะโชค', 'เชิดพงษ์ สีดาว',
       'เจริญ ชินวานิชย์เจริญ', 'ชุลีพรย์ ป่าไร่', 'กิตติพงศ์ บุญโล่ง',
       'วิทวัส แจ้งเอี่ยม', 'วชิรา ดาวสุด', 'อุทัย ประสพชิงชนะ',
       'สุรชาติ เหล็กงาม', 'เจษฎา สายใจ', 'กฤษณา พูลสวัสดิ์',
       'อาภาภรณ์ จันทร์ปิรักษ์', 'ธนวัฒน์ พลพิทักษ์ชัย',
       'ภัคพงศ์ จันทเปรมจิตต์', 'วรางค์ลักษณ์ ซ่อนกลิ่น', 'พัชรี ธีระเอก',
       'วรเชษฐ์ ภิรมย์ภักดิ์', 'สมเจต ศุภรังสรรค์', 'วิศรุดา ศุภรังสรรค์',
       'จันทนา ปัญญาวราภรณ์', 'ปิยะนันท์ เจริญสวรรค์', 'วิเชียร ชาลี',
       'ไพบูลย์ ลิ้มปิติพานิชย์', 'ปิยะฉัตร ฉัตรตันใจ',
       'สุจินต์ บุรีรัตน์', 'วิบูลย์ ชื่นแขก', 'Steven Gordon',
       'NGUYEN DUY HUNG', 'เพิ่มศักดิ์ ศิริพละ',
       'ไพบูลย์ ศรีอรุโณทัย (Ph. D.)', 'Alice Sharp',
       'ยงยุทธ ชนบดีเฉลิมรุ่ง', 'กอปร ศรีนาวิน', 'ชวิศ ศรีจันทร์',
       'วรลักษณ์ คงเด่นฟ้า', 'พนัส นัถฤทธิ์', 'วีรวัฒน์ ขาวสุข',
       'พิเชษฐ์ สนิทเหลือ', 'นิติพงศ์ โสภณพงศ์พิพัฒน์', 'สาโรช พูลเทพ',
       'ปองพันธ์ โอทกานนท์', 'ธณิกานต์ ธงชัย', 'ประกร รามกุล',
       'สุรัตน์ ปัญญาแก้ว', 'จารุตม์ คุณานพดล', 'ปรเมศร์ อารมย์ดี',
       'ปิติศานต์ กร้ำมาตร', 'นิรชร นกแก้ว', 'มาโนช รุจิภากร',
       'อธิป เหลืองไพโรจน์', 'สุธาสินี เนรมิตตกพงศ์', 'กันยรัตน์ โหละสุต',
       'ธเนศ เสถียรนาม', 'ดลฤดี หอมดี', 'สมใจ ขจรชีพพันธุ์งาม',
       'ธรวิภา พวงเพ็ชร (หัวหน้าภาควิชาฯ)', 'สิทธิโชค ผูกพันธุ์',
       'นำพล มหายศนันท์', 'อำพันธ์ จันทร์เพ็งเพ็ญ', 'ฐาปนีย์ พัชรวิชญ์',
       'สารัมภ์ บุญมี', 'กุลจรี ตันตยกุล', 'กุลยา สาริชีวิน',
       'สุธี ปิยะพิพัฒน์', 'วโรดม วีระพันธ์', 'Larry Larson',
       'Junhwan Jeon', 'Hyokyung Sung', 'Zachary Saleeba',
       'Charlie Vickers', 'Mick Howell', 'Ill Ryu', 'Xin Su',
       'Leigh Hochberg', 'Benjamin Kimia', 'Sharvan Kumar',
       'ยุทนา ไผทรัตน์', 'ณัฐวุฒิ ธาราวดี', 'Rashid Zia',
       'Harvey Silverman', 'Eric Suuberg', 'Julie Marton',
       'Sharon Swartz', 'Stefanie Tellex', 'Domenico Pacifici',
       'Nabil Lawandy', 'Kareen Coulombe', 'Eric Chason',
       'Anubhav Tripathi', 'Barrett Hazeltine', 'Robert Petteruti',
       'Ming Yin', 'David Durfee', 'Ian Gonsher', 'George Hradil',
       'Joseph Liu', 'Shreyas Mandre', 'Hyewon Kim', 'Seokki Kim',
       'Jennifer Casasanto', 'Peter Horvath', 'Alan Needleman',
       'ชัยยากร จันทร์สุวรรณ์', 'นัยสันต์ อภิวัฒนลังการ',
       'ดุลย์พิเชษฐ์ ฤกษ์ปรีดาพงศ์', 'ธนพัฒน์ เกิดสุข',
       'ชวลิต กิตติชัยการ', 'สุรพล พฤกษพานิช', 'เด่นชัย วรเศวต',
       'กรรมมันต์ ชูประเสริฐ', 'วิชัย ศิวะโกศิษฐ', 'ธงชัย หฤทัยสดใส',
       'สุเนตร พรานนท์สถิตย์', 'พูนลาภ ลามศรีจันทร์',
       'เอกชัย ไพศาลกิตติสกุล', 'มนต์ชัย สุระรัตน์ชัย',
       'นวทัศน์ ก้องสมุทร', 'ชนินทร์ ตรงจิตภักดี', 'สุรี จิตโสภิณ',
       'ประมุข จันสุริยวงศ์', 'ศักดาเรศ พรมยะกลาง',
       'ศรีจิตรา เจริญลาภนพรัตน์', 'วุฒิพงศ์ อารีกุล',
       'Sebastjan Glinsek', 'Michael Francis', 'สมบัติ ชื่นชูกลิ่น',
       'พวงรัตน์ ขจิตวิชยานุกูล', 'พัทรพงษ์ อาสนจินดา', 'มยุรี เทศผล',
       'ปิติ โรจน์วรรณสินธุ์', 'เพชร์รัตน์ ลิ้มสุปรียารัตน์',
       'ภัคพงศ์ หอมเนียม', 'ดุษฎี สถิรเศรษฐทวี', 'ภูพงษ์ พงษ์เจริญ',
       'ศรีสัจจา วิทยศักดิ์', 'อมรชัย ใจยงค์', 'ณัฐศักดิ์ บุญมี',
       'ศุภศิลป์ ทวีศักดิ์', 'เอกรัตน์ วงษ์แก้ว', 'แดง แซ่เบ๊',
       'สสิกรณณ์ เหลืองวิชชเจริญ', 'ธรรมนูญ รัศมีมาสเมือง',
       'สยาม ยิ้มศิริ', 'อำพล เตโชวาณิชย์', 'ปฏิภาณ บุญรวม',
       'ฤภูวัลย์ จันทรสา', 'เที่ยง ชีวะเกตุ', 'นพคุณ บุญกระพือ',
       'เกียรติไกร อายุวัฒน์', 'นส.พรรณทิพย์ ชั่งทอง',
       'ทิพย์วิมล แตะกระโทก', 'สุธนิตย์ พุทธพนม', 'วัฒนชัย เยาวรัตน์',
       'ภาวิณี ศักดิ์สุนทรศิริ', 'ณัฐพันธ์ ถนอมสัตย์',
       'มัณฑนา รังสิโยภาส'], dtype=object)

In [267]:
df_unique_name = pd.DataFrame(uniq_name,columns=['clean_name'])

In [268]:
df_unique_name

                    clean_name
0            สุธาทิพย์ สวนมะลิ
1         WAREE KONGPRAWECHNON
2    Chalermchai Wanichlamlert
3        Nattharika Rittippant
4               พรพิมล จงไพศาล
..                         ...
660           สุธนิตย์ พุทธพนม
661          วัฒนชัย เยาวรัตน์
662     ภาวิณี ศักดิ์สุนทรศิริ
663         ณัฐพันธ์ ถนอมสัตย์
664          มัณฑนา รังสิโยภาส

[665 rows x 1 columns]

In [269]:
start_id = 547926
df_unique_name['id'] = df_unique_name.index + start_id

In [270]:
df_unique_name

                    clean_name      id
0            สุธาทิพย์ สวนมะลิ  547926
1         WAREE KONGPRAWECHNON  547927
2    Chalermchai Wanichlamlert  547928
3        Nattharika Rittippant  547929
4               พรพิมล จงไพศาล  547930
..                         ...     ...
660           สุธนิตย์ พุทธพนม  548586
661          วัฒนชัย เยาวรัตน์  548587
662     ภาวิณี ศักดิ์สุนทรศิริ  548588
663         ณัฐพันธ์ ถนอมสัตย์  548589
664          มัณฑนา รังสิโยภาส  548590

[665 rows x 2 columns]

# df_author

In [271]:
def is_english(str):
    for i in str:
        if i in ('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'):
            return True
    else:    
        return False

def is_thai(str):
    for i in str:
        if i in ('ก','ข','ฃ','ค','ฅ','ฆ','ง','จ','ฉ','ช','ซ','ฌ','ญ','ฎ','ฏ','ฐ','ฑ','ฒ','ณ','ด','ต','ถ','ท','ธ','น','บ','ป','ผ','ฝ','พ','ฟ','ภ','ม','ย','ร','ล','ว','ศ','ษ','ส','ห','ฬ','อ','ฮ'):
            return True
    else:
        return False

def language(text):
    if is_english(text):
      return 'eng'
    elif is_thai(text):
      return 'th'
    else:
      return 'other'

def strip_row(text):
    text = text.strip()
    text = ' '.join(text.split())
    return text

def first_name(list_text):
    name = ''
    if len(list_text) > 0:
      name = strip_row(list_text[0])
    return name

def check_first_author(row):
    if pd.isna(row['first_name']):
      return 'no'
    elif pd.isna(row['new_name']):
      return 'no'
    elif row['first_name'] == '':
      return 'no'
    elif row['first_name'] == row['new_name']:
      return 'yes'
    else:
      return 'no'

In [272]:
df_unique_name = df_unique_name.rename(columns={"clean_name": "authFullName"})

In [273]:
df_unique_name

                  authFullName      id
0            สุธาทิพย์ สวนมะลิ  547926
1         WAREE KONGPRAWECHNON  547927
2    Chalermchai Wanichlamlert  547928
3        Nattharika Rittippant  547929
4               พรพิมล จงไพศาล  547930
..                         ...     ...
660           สุธนิตย์ พุทธพนม  548586
661          วัฒนชัย เยาวรัตน์  548587
662     ภาวิณี ศักดิ์สุนทรศิริ  548588
663         ณัฐพันธ์ ถนอมสัตย์  548589
664          มัณฑนา รังสิโยภาส  548590

[665 rows x 2 columns]

In [274]:
df_unique_name['language'] = df_unique_name['authFullName'].apply(language)

In [275]:
result_author_thai = df_unique_name[df_unique_name['language']=='th']

result_author_eng = df_unique_name[df_unique_name['language']=='eng']

result_author_other = df_unique_name[df_unique_name['language']=='other']

In [276]:
result_author_thai

               authFullName      id language
0         สุธาทิพย์ สวนมะลิ  547926       th
4            พรพิมล จงไพศาล  547930       th
6                กฤษ เฉยไสย  547932       th
9       สุรสิทธิ์ ปิยะศิลป์  547935       th
10         ต้นคิด จันทรัศมี  547936       th
..                      ...     ...      ...
660        สุธนิตย์ พุทธพนม  548586       th
661       วัฒนชัย เยาวรัตน์  548587       th
662  ภาวิณี ศักดิ์สุนทรศิริ  548588       th
663      ณัฐพันธ์ ถนอมสัตย์  548589       th
664       มัณฑนา รังสิโยภาส  548590       th

[453 rows x 3 columns]

In [277]:
result_author_eng

                  authFullName      id language
1         WAREE KONGPRAWECHNON  547927      eng
2    Chalermchai Wanichlamlert  547928      eng
3        Nattharika Rittippant  547929      eng
5     Raktipong Sahamitmongkol  547931      eng
7     Banlue Srisuchinwong PhD  547933      eng
..                         ...     ...      ...
608         Jennifer Casasanto  548534      eng
609              Peter Horvath  548535      eng
610             Alan Needleman  548536      eng
632          Sebastjan Glinsek  548558      eng
633            Michael Francis  548559      eng

[212 rows x 3 columns]

In [278]:
result_author_other

Empty DataFrame
Columns: [authFullName, id, language]
Index: []

# Create Auth Detail

In [282]:
result_all = pd.merge(df_new,
                       df_unique_name,
                       left_on='clean_name',
                       right_on='authFullName',
                       how='left')

In [283]:
result_all.columns

Index(['_index', '_type', '_id', '_score', '_source.education', '_source.work',
       '_source.university', '_source.pullDate', '_source.expertise',
       '_source.etc', '_source.name', '_source.tel', '_source.sheet',
       '_source.position', '_source.row', '_source.email', 'clean_name',
       'prefix', 'authFullName', 'id', 'language'],
      dtype='object')

In [284]:
auth_detail = result_all

In [285]:
auth_detail = auth_detail.rename(columns={"id": "auth_ID","language":"author_lang", "_source.tel":"tel", "_source.email":"email","prefix":"titleName"})

In [286]:
auth_detail.columns

Index(['_index', '_type', '_id', '_score', '_source.education', '_source.work',
       '_source.university', '_source.pullDate', '_source.expertise',
       '_source.etc', '_source.name', 'tel', '_source.sheet',
       '_source.position', '_source.row', 'email', 'clean_name', 'titleName',
       'authFullName', 'auth_ID', 'author_lang'],
      dtype='object')

In [287]:
auth_detail = auth_detail.drop(['_index', '_type','_id', '_score','_source.education',
       '_source.work','_source.university','_source.pullDate','_source.expertise','_source.etc',
       '_source.name','clean_name','_source.sheet','_source.position','_source.row','authFullName'],axis=1)

In [288]:
## auth_detail['id'] = ''
# auth_detail['auth_ID'] = ''
# auth_detail['author_lang'] = ''
# auth_detail['titleName'] = ''
# auth_detail['tel'] = ''
# auth_detail['email'] = ''
auth_detail['subject'] = ''
auth_detail['department'] = ''

In [289]:
all_column =  ["auth_ID","author_lang","titleName","tel","email","subject","department"]
len(all_column)

7

In [291]:
len(auth_detail.columns)

7

In [292]:
auth_detail.columns

Index(['tel', 'email', 'titleName', 'auth_ID', 'author_lang', 'subject',
       'department'],
      dtype='object')

In [293]:
auth_detail = auth_detail[all_column]

In [294]:
auth_detail

     auth_ID author_lang  ... subject department
0     547926          th  ...
1     547927         eng  ...
2     547928         eng  ...
3     547929         eng  ...
4     547930          th  ...
..       ...         ...  ...     ...        ...
700   548586          th  ...
701   548587          th  ...
702   548588          th  ...
703   548589          th  ...
704   548590          th  ...

[705 rows x 7 columns]

# Create Auth Education

In [295]:
auth_education = result_all

In [296]:
auth_education.columns

Index(['_index', '_type', '_id', '_score', '_source.education', '_source.work',
       '_source.university', '_source.pullDate', '_source.expertise',
       '_source.etc', '_source.name', '_source.tel', '_source.sheet',
       '_source.position', '_source.row', '_source.email', 'clean_name',
       'prefix', 'authFullName', 'id', 'language'],
      dtype='object')

In [297]:
auth_education = auth_education.rename(columns={"id": "auth_ID","language":"author_lang", "_source.education":"education_detail" })

In [298]:
auth_education.columns

Index(['_index', '_type', '_id', '_score', 'education_detail', '_source.work',
       '_source.university', '_source.pullDate', '_source.expertise',
       '_source.etc', '_source.name', '_source.tel', '_source.sheet',
       '_source.position', '_source.row', '_source.email', 'clean_name',
       'prefix', 'authFullName', 'auth_ID', 'author_lang'],
      dtype='object')

In [299]:
auth_education = auth_education.drop(['_index', '_type','_id', '_score',
       '_source.work','_source.university','_source.pullDate','_source.expertise','_source.etc',
       '_source.name','_source.tel','_source.sheet','_source.position','_source.row','_source.email',
       'clean_name','prefix','authFullName'],axis=1)

In [300]:
## auth_education['id'] = ''
# auth_education['auth_ID'] = ''
# auth_education['author_lang'] = ''
# auth_education['education_detail'] = ''

In [301]:
all_column =  ["auth_ID","author_lang","education_detail"]
len(all_column)

3

In [302]:
len(auth_education.columns)

3

In [303]:
auth_education.columns

Index(['education_detail', 'auth_ID', 'author_lang'], dtype='object')

In [304]:
auth_education = auth_education[all_column]

In [305]:
auth_education

     auth_ID author_lang                                   education_detail
0     547926          th  North Carolina State University (NCSU), Raleig...
1     547927         eng  GRADUATE SCHOOL OF THE UNIVERSITY OF TOKYO, To...
2     547928         eng  Kochi University of Technology\r\n(KUT) Kochi,...
3     547929         eng  Ph.D. The University of Texas at Arlington, Au...
4     547930          th  1992-1998\r\n- Ph.D. (Management), Ritsumeikan...
..       ...         ...                                                ...
700   548586          th
701   548587          th
702   548588          th
703   548589          th
704   548590          th

[705 rows x 3 columns]

# Author Expert

In [306]:
auth_expert = result_all

In [307]:
auth_expert.columns

Index(['_index', '_type', '_id', '_score', '_source.education', '_source.work',
       '_source.university', '_source.pullDate', '_source.expertise',
       '_source.etc', '_source.name', '_source.tel', '_source.sheet',
       '_source.position', '_source.row', '_source.email', 'clean_name',
       'prefix', 'authFullName', 'id', 'language'],
      dtype='object')

In [308]:
auth_expert = auth_expert.rename(columns={"id": "auth_ID","language":"author_lang", "_source.expertise":"expertise" })

In [309]:
auth_expert.columns

Index(['_index', '_type', '_id', '_score', '_source.education', '_source.work',
       '_source.university', '_source.pullDate', 'expertise', '_source.etc',
       '_source.name', '_source.tel', '_source.sheet', '_source.position',
       '_source.row', '_source.email', 'clean_name', 'prefix', 'authFullName',
       'auth_ID', 'author_lang'],
      dtype='object')

In [310]:
auth_expert = auth_expert.drop(['_index', '_type','_id', '_score', '_source.education',
       '_source.work','_source.university','_source.pullDate','_source.etc',
       '_source.name','_source.tel','_source.sheet','_source.position','_source.row','_source.email',
       'clean_name','prefix','authFullName'],axis=1)

In [311]:
## auth_expert['id'] = ''
# auth_expert['auth_ID'] = ''
# auth_expert['author_lang'] = ''
auth_expert['subject'] = ''
# auth_expert['expertise'] = ''

In [312]:
all_column =  ["auth_ID","author_lang","subject","expertise"]
len(all_column)

4

In [313]:
len(auth_expert.columns)

4

In [314]:
auth_expert.columns

Index(['expertise', 'auth_ID', 'author_lang', 'subject'], dtype='object')

In [315]:
auth_expert = auth_expert[all_column]

In [316]:
auth_expert

     auth_ID  ...                                          expertise
0     547926  ...  Applied Linear Algebras; Highway Assets Mainte...
1     547927  ...
2     547928  ...   multi-binder concrete\r\n Mix proportion des...
3     547929  ...  2003-present The Academy of International Busi...
4     547930  ...  May 2003 - present, Assistant Professor, Sirin...
..       ...  ...                                                ...
700   548586  ...
701   548587  ...
702   548588  ...
703   548589  ...
704   548590  ...

[705 rows x 4 columns]

# Author Organization

In [317]:
auth_organization = result_all

In [318]:
auth_organization.columns

Index(['_index', '_type', '_id', '_score', '_source.education', '_source.work',
       '_source.university', '_source.pullDate', '_source.expertise',
       '_source.etc', '_source.name', '_source.tel', '_source.sheet',
       '_source.position', '_source.row', '_source.email', 'clean_name',
       'prefix', 'authFullName', 'id', 'language'],
      dtype='object')

In [319]:
auth_organization = auth_organization.rename(columns={"id": "auth_ID","language":"author_lang", "_source.university":"orgName" })

In [320]:
auth_organization.columns

Index(['_index', '_type', '_id', '_score', '_source.education', '_source.work',
       'orgName', '_source.pullDate', '_source.expertise', '_source.etc',
       '_source.name', '_source.tel', '_source.sheet', '_source.position',
       '_source.row', '_source.email', 'clean_name', 'prefix', 'authFullName',
       'auth_ID', 'author_lang'],
      dtype='object')

In [321]:
auth_organization = auth_organization.drop(['_index', '_type','_id', '_score', '_source.education',
       '_source.work','_source.pullDate','_source.expertise','_source.etc',
       '_source.name','_source.tel','_source.sheet','_source.position','_source.row','_source.email',
       'clean_name','prefix','authFullName'],axis=1)

In [322]:
## auth_organization['id'] = ''
# auth_organization['auth_ID'] = ''
# auth_organization['author_lang'] = ''
# auth_organization['orgName'] = ''
auth_organization['department'] = ''

In [323]:
all_column =  ["auth_ID","author_lang","orgName","department"]
len(all_column)

4

In [324]:
len(auth_organization.columns)

4

In [325]:
auth_organization.columns

Index(['orgName', 'auth_ID', 'author_lang', 'department'], dtype='object')

In [326]:
auth_organization = auth_organization[all_column]

In [327]:
auth_organization

     auth_ID author_lang                        orgName department
0     547926          th  สถาบันเทคโนโลยีนานาชาติสิริธร
1     547927         eng  สถาบันเทคโนโลยีนานาชาติสิริธร
2     547928         eng  สถาบันเทคโนโลยีนานาชาติสิริธร
3     547929         eng  สถาบันเทคโนโลยีนานาชาติสิริธร
4     547930          th  สถาบันเทคโนโลยีนานาชาติสิริธร
..       ...         ...                            ...        ...
700   548586          th             มหาวิทยาลัยนเรศวร1
701   548587          th             มหาวิทยาลัยนเรศวร1
702   548588          th                    มหาลัยบูรพา
703   548589          th                    มหาลัยบูรพา
704   548590          th                    มหาลัยบูรพา

[705 rows x 4 columns]

# Export

In [328]:
# author

result_author_thai[['id','authFullName']].to_csv('adct_author_thai.csv')
result_author_eng[['id','authFullName']].to_csv('adct_author_eng.csv')
result_author_other[['id','authFullName']].to_csv('adct_author_other.csv')

In [329]:
# author detail
auth_detail.index.name = 'id'
auth_education.index.name = 'id'
auth_expert.index.name = 'id'
auth_organization.name = 'id'

auth_detail.to_csv('adct_author_detail.csv')
auth_education.to_csv('adct_author_education.csv')
auth_expert.to_csv('adct_author_expert.csv')
auth_organization.to_csv('adct_author_organize.csv')